<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiyun.mapper.StuMapper">


	<resultMap type="stu" id="BaseMap">
	<id column="sid" property="sid"/>
	<result column="sname" property="sname"/>
	<result column="age" property="age"/>
	<result column="sex" property="sex"/>
	<result column="depid" property="depid"/>
	<result column="birthday" property="birthday"/>
	<result column="pic" property="pic"/>
	
	<association property="dept" javaType="dept">
	<id column="depid" property="depid"/>
	<result column="dname" property="dname"/>
	</association>
	</resultMap>
	<select id="findAll" parameterType="StuVo" resultMap="BaseMap">
		SELECT * FROM stu,dept WHERE stu.depid=dept.depid
		<if test="stu.sname!=null and stu.sname!=''">
			and sname like "%${sname}%"
		</if>
		<if test="stu.depid!=0">
			and depid = #{stu.depid}
		</if>
		<if test="start!=null and srart!=''">
			and birthday &gt; #{start}
		</if>
		<if test="end!=null and end!=''">
			and birthday &lt; #{end}
		</if>
	</select>
	<select id="findDept" resultType="Dept">
		select * from dept
	</select>
	<update id="updateStu" parameterType="Stu">
		update stu set sname=#{sname},age=#{age},sex=#{sex},depid=#{depid},birthday=#{birthday} where sid=#{sid}
	</update>
	<delete id="delStu">
		delete from stu where sid in
		<foreach separator="," close=")" open="(" item="id" collection="ids">#{id}</foreach>
	</delete>
</mapper>